<!--Idea and Tutorial: http://tympanus.net/codrops/2011/12/07/splash-and-coming-soon-page-effects-with-css3/-->


<div class="sp-container">
  <div class="sp-content">
    <div class="sp-wrap sp-left">
      <h2>
        <span class="sp-top">Intro</span>
        <span class="sp-mid">Monkey Wrench</span>
        <span class="sp-bottom">Computer Repair</span>
      </h2>
    </div>
    <div class="sp-wrap sp-right">
      <h2>
        <span class="sp-top">Blah blah web developer</span>
        <span class="sp-mid">Solutions</span>
        <span class="sp-bottom">closing</span>
      </h2>
    </div>
  </div>
  <div class="sp-full">
    <h2>Catchy slogan!</h2>
    <a href="#">Call now!</a>
  </div>
</div>

