// Business colors
$mwMain: #e92c1f;
$mwAccent: #b22718;
$mwDark: #241f1f;
$mwLight: white;

@font-face {
  font-family: 'MisoRegular';
  src: font-url('miso-webfont.eot');
  src: font-url('miso-webfont.eot?#iefix') format('embedded-opentype'),
  url('miso-webfont.woff') format('woff'),
  url('miso-webfont.ttf') format('truetype'),
  url('miso-webfont.svg#MisoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoBold';
  src: font-url('miso-bold-webfont.eot');
  src: font-url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('miso-bold-webfont.woff') format('woff'),
  url('miso-bold-webfont.ttf') format('truetype'),
  url('miso-bold-webfont.svg#MisoBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $mwMain;
  font-family: 'MisoRegular';
  font-size: 15px;
}

.sp-container {
  width: 900px;
  height: 400px;
  position: relative;
  margin: 80px auto 0px auto;
}

.sp-container h2 {
  color: $mwDark;
  text-shadow: 0px 0px 1px rgba(36, 31, 31, 0.9);
}

.sp-container .sp-right h2 {
  color: $mwLight;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);
}

.sp-content {
  width: 100%;
  height: 400px;
  position: relative;
  -webkit-animation: open 0.4s linear forwards, squeeze 0.6s linear 5.5s forwards;
  animation: open 0.4s linear forwards, squeeze 0.6s linear 5.5s forwards;
}

.sp-content:after {
  content: '';
  width: 4px;
  background: $mwDark;
  height: 100%;
  position: absolute;
  left: 50%;
}

.sp-wrap {
  width: 400px;
  padding: 50px 25px;
  height: 100%;
  text-align: right;
  font-size: 50px;
  line-height: 60px;
  float: left;
  position: relative;
  background: $mwMain;
  overflow: hidden;
}

.sp-wrap span {
  display: block;
  background: $mwMain;
  opacity: 0;
}

.sp-wrap span.sp-mid {
  opacity: 1;
}

.sp-wrap span.sp-mid {
  font-family: 'MisoBold';
  text-transform: uppercase;
  font-size: 110px;
  line-height: 80px;
  position: relative;
}

.sp-left span.sp-top {
  -webkit-animation: slideLeft 0.5s ease-in 0.6s backwards, fadeOut 1s linear 4s backwards;
  animation: slideLeft 0.5s ease-in 0.6s backwards, fadeOut 1s linear 4s backwards;
}

.sp-left span.sp-mid {
  -webkit-animation: slideLeft 0.5s ease-in 1s backwards, moveUp 0.6s linear 5s forwards;
  animation: slideLeft 0.5s ease-in 1s backwards, moveUp 0.6s linear 5s forwards;
}

.sp-left span.sp-bottom {
  -webkit-animation: slideLeft 0.5s ease-in 1.4s backwards, fadeOut 1s linear 4.2s backwards;
  animation: slideLeft 0.5s ease-in 1.4s backwards, fadeOut 1s linear 4.2s backwards;
}

.sp-right span {
  text-align: left;
}

.sp-right span.sp-top {
  -webkit-animation: slideRight 0.5s ease-in 2s backwards, fadeOut 1s linear 4.4s backwards;
  animation: slideRight 0.5s ease-in 2s backwards, fadeOut 1s linear 4.4s backwards;
}

.sp-right span.sp-mid {
  -webkit-animation: slideRight 0.5s ease-in 2.4s backwards, moveUp 0.6s linear 5s forwards;
  animation: slideRight 0.5s ease-in 2.4s backwards, moveUp 0.6s linear 5s forwards;
}

.sp-right span.sp-bottom {
  -webkit-animation: slideRight 0.5s ease-in 3.2s backwards, fadeOut 1s linear 4.6s backwards;
  animation: slideRight 0.5s ease-in 3.2s backwards, fadeOut 1s linear 4.6s backwards;
}

.sp-full {
  position: absolute;
  font-size: 40px;
  top: 142px;
  width: 700px;
  left: 145px;
  -webkit-animation: fadeIn 1s linear 6.6s backwards;
  animation: fadeIn 1s linear 6.6s backwards;
}

.sp-full a {
  background: $mwDark;
  color: $mwLight;
  border-radius: 4px;
  padding: 10px 40px;
  display: inline-block;
  font-size: 40px;
  margin-top: 40px;
  -webkit-animation: zoomIn 0.7s ease-in-out 7s backwards;
  animation: zoomIn 0.7s ease-in-out 7s backwards;
}

.sp-full a:hover {
  opacity: 0.8;
}

.sp-full h2 {
  width: 400px;
  padding: 0px 50px 0px 0px;
  float: left;
  text-align: right;
}

@-webkit-keyframes open {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes open {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes squeeze {
  0% {
    height: 400px;
  }
  100% {
    height: 200px;
  }
}

@keyframes squeeze {
  0% {
    height: 400px;
  }
  100% {
    height: 200px;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-170px);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-170px);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}